@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    position: relative;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    background-color: #2e2014;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
    background-color: #c52d2f;
}

.back {
    background-color: green;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    background-color: #23180d;
    margin-bottom: 40px;
}

.latest-container {
    padding-bottom: 30px;

}

.navbar-header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;

}

.navbar-box {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 22px;
    text-align: center;
}

.navbar {
    display: flex;
    margin-top: 0;
}

.navbar a {
    color: #fff;
    padding: 5px 12px;
}

.navbar a:hover {
    padding: 5px 12px;
    background-color: #c52d2f;
    border-radius: 5px;
    transition: 0.3s;
}

.active {
    padding: 5px 12px;
    background-color: #c52d2f;
    color: #fff;
    border-radius: 5px;
}

.navbar li {
    margin-left: 35px;
    padding-bottom: 28px;
    margin-block: auto;
}

.navbar-social {
    display: flex;
    text-align: center;
    align-items: center;

}

.navbar-social img {
    margin-bottom: -5px;
    padding: 5px 12px;
    border-radius: 3px;
    color: #fff;
    line-height: 24px;
    display: inline-block;
}

.welcome-box {
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.welcome-box-img img {
    width: 80%;
}

.welcome-title {
    font-size: 36px;
    text-align: center;
    color: #fff;
    margin-bottom: -40px;
}

.row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.col {
    width: 20%;
    padding: 0 15px;
}

.col-4 {
    width: 33.33333%;
    padding: 0 15px;
}

.col-8 {
    width: 66.66666%;
    padding: 0 15px;
}


.box {
    text-align: center;

}

.box img {
    width: 100%;
    height: 100%;
}

.mealName {
    color: #fff;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
    color: #ffffff;
    line-height: 24px;
    font-weight: 600;
}

.description {
    color: #d57d1f;
    line-height: 22px;
    font-size: 14px;
}

.center {
    text-align: center;
    margin-bottom: 20px;
}

.center:hover {
    cursor: pointer;
    color: #e8a761;
}

.instructions {
    align-content: center;
    text-align: center;
    padding: 20px 150px;


}

.instructions-box {

}

.footer{
    bottom: 0;
    left: 0;
    margin-top: auto;
    position: relative;
}

.footer-container{
    background-color: #23180d;
    padding: 30px 0;
    align-content: center;


}

.footer-box{
    display: flex;
    justify-content: space-between;

}



.copyright-box {
    display: flex;
}

/*.copyright-box p:first-child{*/
/*   margin-top: 10px;*/
/*}*/

.copyright-box img {
    padding-left: 5px;
}

.footer-link{
    text-align: center;
}

.footer-info{
    display: flex;
}

.footer-info a {
    color: #fff;
    padding-left: 5px;
}


.video{
    margin: 20px 10px;
}

.video div {
    width: 100% !important;
    height: 100% !important;
}


@media (max-width: 1140px){
    .container{
        max-width: 1170px;
    }
}

@media (max-width: 992px) {
    .container{
        max-width: 767px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 767px;
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
        align-items: center;
    }
}

@media (max-width: 540px) {
    .container {
        max-width: 320px;
    }
    .welcome-title {

        margin-bottom: 0;
    }
}










